.services {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
    gap: 50px;
}

.services h2 {
    color: #333;
    text-align: center;
}

.services h1 {
    color: rgb(79, 142, 236);
    text-align: center;
    font-weight: 400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.card {
    box-shadow: 4px 2px 8px rgb(79, 142, 236);
    height: 250px;
    border-radius: 30px;
    position: relative;
}

.card p {
    margin-bottom: 10px;
    color: #333;
}

.card h2 {
    color: rgb(79, 142, 236);
    font-weight: 600;
    margin-bottom: 10px;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    object-fit: contain;
}

.icon img {
    width: 80%;
    height: 80%;
    border-radius: 40px;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 10px 30px;
}