.contact {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 120px;
    gap: 50px;
    background-color: #fff;
}

.contact .text h1 {
    font-size: 35px;
    line-height: 40px;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 70px;
    box-shadow: 1px 2px 4px rgb(79, 142, 236);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.contact-card:hover {
    box-shadow: 2px 4px 18px rgb(79, 142, 236);
}