footer{
    background-color: #f5f5f5;
    width: 100%;
    padding: 100px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer div h1{
    font-size: 40px;
    line-height: 45px;
    color: rgb(79, 142, 236);
}
footer div  p{
    cursor: pointer;
    color: #333;
    font-weight: 600;
}